.wrapper {
  width: 400px;
  margin: 0 auto;
}
nav {
  position:relative;

}
ul {
  list-style-type: none;
  width: 400px;
  margin: 0;
  padding: 0;
  background-color: white;
}
a {
  margin: 0 auto;
  padding: 0;
}

li a {
  font-family: 'FranklinGothic-book';
  font-size: 20px;
  display: inline-block;
  color: #000;
  padding: 8px 30px 8px 0px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #cacaca;
  background: url('icons.png') 0 0;
  background-repeat: no-repeat;
  color: black;
}
@font-face {
  font-family: 'FranklinGothic-DemiCd';
  src: url('fonts/FranklinGothic-DemiCd.otf');
  src: local('fonts/FranklinGothic-DemiCd'), local('fonts/FranklinGothic-DemiCd'),
  url('fonts/FranklinGothic-DemiCd.otf') format('opentype');
}
@font-face {
  font-family: 'FranklinGothic-book';
  src: url('fonts/FranklinGothic-book.otf');
  src: local('fonts/FranklinGothic-book'), local('fonts/FranklinGothic-book'),
  url('fonts/FranklinGothic-book.otf') format('opentype');
}
span{
  font-weight: bold;
  font-size: 23px;
  font-family: 'FranklinGothic-DemiCd';
}
.icons{
  background-color: blue;
}
/*********SPRITES***************/
#subscribe-sprite, #profile-sprite, #logout-sprite {
  background-image: url('icons.png');
  background-repeat: no-repeat;


}
#subscribe-sprite{
  background-position: 0px 0px;
  margin: 0px;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 15px;

}
#profile-sprite{
  background-position: -20px 0px;
  margin: 0px;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 15px;
}
#logout-sprite{
  background-position: -40px 12px;
  width: 100px;
  padding: 0px 30px;
}
