.wrapper {
  width: 330px;
  margin: 0 auto;
}
nav {
  width: 250px;
  position:relative;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
}
li{
  padding-top: 5px;
  padding-bottom: 5px;
}
li a {
  font-family: 'FranklinGothic-book';
  font-size: 20px;
  display: inline-block;
  color: #000;
  text-decoration: none;
}
#profile-li{
  border-top: 1px solid #cacaca;
  border-bottom:1px solid #cacaca;
}
li a:hover {
  background-color: #cacaca;
  background-repeat: no-repeat;
  color: black;
}
@font-face {
  font-family: 'FranklinGothic-DemiCd';
  src: url('fonts/FranklinGothic-DemiCd.otf');
  src: local('fonts/FranklinGothic-DemiCd'), local('fonts/FranklinGothic-DemiCd'),
  url('fonts/FranklinGothic-DemiCd.otf') format('opentype');
}
@font-face {
  font-family: 'FranklinGothic-book';
  src: url('fonts/FranklinGothic-book.otf');
  src: local('fonts/FranklinGothic-book'), local('fonts/FranklinGothic-book'),
  url('fonts/FranklinGothic-book.otf') format('opentype');
}
span{
  font-weight: bold;
  font-size: 23px;
  font-family: 'FranklinGothic-DemiCd';
}
/*********SPRITES***************/
li:hover{
  background-color: #cacaca;
}
#subscribe-sprite, #profile-sprite, #logout-sprite {
  background-image: url('icons.png');
  background-repeat: no-repeat;
}
/********************************/
#subscribe-anchor{
  width: 200px;
  margin-left: -5px;
}
#subscribe-sprite{
  background-position: 0px 3px;
  margin: 0px;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 15px;
}
li#subscribe-li:hover #subscribe-sprite{
  background-position: 0px -18px;
}
/**************************/
#profile-anchor{
  width: 100px;
  margin-left: 30px;
}
#profile-sprite{
  background-position: -20px 3px;
  margin: 0px;
  width: 20px;
  height: 30px;
  display: inline-block;
  margin-right: 15px;
}
li#profile-li:hover #profile-sprite{
  background-position: -20px -18px;
}
/**************************/
#logout-sprite{
  background-position: -40px 3px;
  width: 100px;
  height: 30px;
  padding: 0px 30px;
}
#logout-sprite:hover{
  background-color: #cacaca;
  background-position: -40px -17px;
}
